{% extends 'main.html'%}

{% block content%}
<style>
    .profile-cotainer{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        }
</style>
    <h1>{{user.username}}</h1>

    <div class="profile-cotainer">
        <div>
            {% include 'base/topics_component.html'%}
        </div>
        <div>
            {% include 'base/feed_component.html'%}
        </div>
        <div>
            {% include 'base/activities_component.html'%}
        </div>
    </div>
{% endblock content%}